<%- include('header.html') -%>
<h2 class="py-4">Add Book Page</h2>

<form class="w-50" action="/newbookdata" method="POST">
  <div class="mb-3">
    <label for="book-title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="book-title" name="title" />
  </div>
  <div class="mb-3">
    <label for="book-author" class="form-label">Author:</label>
    <input type="text" class="form-control" id="book-author" name="author" />
  </div>
  <div class="mb-3">
    <label for="book--topic" class="form-label">Topic:</label>
    <input type="text" class="form-control" id="book--topic" name="topic" />
  </div>
  <div class="mb-3">
    <label for="book--price" class="form-label">Price:</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="book--price"
      name="price"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- When Book have added -->
<% if(newBook) { %>
  <div class="alert alert-success w-50 mt-5" role="alert">
    Book have been added successfully. <a href="listbooks" class="alert-link">Check all books</a>.
  </div>
<% } %>
<%- include('footer.html') -%>
