<%- include('header.html') -%>
<h2 class="py-4">Edit Book Page</h2>

<form class="w-50" action="<%= `/id/${book._id}` %>" method="POST">
  <div class="mb-3">
    <label for="book-title" class="form-label">Title:</label>
    <input
      type="text"
      class="form-control"
      id="book-title"
      name="title"
      value="<%= book.title %>"
    />
  </div>
  <div class="mb-3">
    <label for="book-author" class="form-label">Author:</label>
    <input
      type="text"
      class="form-control"
      id="book-author"
      name="author"
      value="<%= book.author %>"
    />
  </div>
  <div class="mb-3">
    <label for="book--topic" class="form-label">Topic:</label>
    <input
      type="text"
      class="form-control"
      id="book--topic"
      name="topic"
      value="<%= book.topic %>"
    />
  </div>
  <div class="mb-3">
    <label for="book--dop" class="form-label">Publish date:</label>
    <input
      type="date"
      class="form-control"
      id="book--dop"
      name="dop"
      value="<%= book.dop %>"
      value="<%= book.dop %>"
    />
  </div>
  <div class="mb-3">
    <label for="book--summary" class="form-label">Summary</label>
    <textarea
      type="text"
      class="form-control"
      rows="10"
      id="book--summary"
      name="summary"
    >
<%= book.summary %></textarea
    >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('footer.html') -%>
