<%- include('header.html') -%>
<!-- When Books db is Empty -->
<% if(titles.length === 0) { %>
<div class="row pt-5">
  <div class="col-4">
    <img class="error--img" src="/images/emptyError.jpg" alt="error-img" />
  </div>
  <div
    class="
      col-8
      error-msg
      text-center
      d-flex
      flex-column
      justify-content-center
    "
  >
    <h2 class="display-3 fw-bold py-5">OOPS!</h2>
    <p class="fs-4 fw-light text-secondary">Your book store is Empty!</p>
    <p class="fs-4 fw-light text-secondary">
      Please go to add some book first.
    </p>
    <div class="pt-5">
      <a class="btn btn-secondary" href="/addbook" role="button">Add Book</a>
    </div>
  </div>
</div>
<% } %>
<!-- When Books db have books -->
<% if(titles.length > 0) { %>
<h2 class="py-4">All Titles:</h2>
<table class="w-75 table table-bordered">
  <tr class="table-primary">
    <th>Title</th>
  </tr>
  <% for (let i = 0; i < titles.length; i++){ %>
  <tr>
    <td><%= titles[i] %></td>
  </tr>
  <% }%>
</table>
<% } %> <%- include('footer.html') -%>
