<%- include('header.html') -%>
<!-- When Books db is Empty -->
<% if(books.length === 0) { %>
<div class="row pt-5">
  <div class="col-4">
    <img class="error--img" src="/images/emptyError.jpg" alt="error-img" />
  </div>
  <div
    class="
      col-8
      error-msg
      text-center
      d-flex
      flex-column
      justify-content-center
    "
  >
    <h2 class="display-3 fw-bold py-5">OOPS!</h2>
    <p class="fs-4 fw-light text-secondary">Your book store is Empty!</p>
    <p class="fs-4 fw-light text-secondary">
      Please go to add some book first.
    </p>
    <div class="pt-5">
      <a class="btn btn-secondary" href="/addbook" role="button">Add Book</a>
    </div>
  </div>
</div>
<% } %>
<!-- When Books db have books -->
<% if(books.length > 0) { %>
<h2 class="py-4">All Books:</h2>
<table class="table table-bordered">
  <tr class="table-primary">
    <th>Title</th>
    <th>Author</th>
    <th>Topic</th>
    <th>Publish Date</th>
    <th>Summary</th>
    <th>Action</th>
  </tr>
  <% for (let i = 0; i < books.length; i++){ %>
  <tr>
    <td><%= books[i].title %></td>
    <td><%= books[i].author %></td>
    <td><%= books[i].topic %></td>
    <td><%= books[i].dop %></td>
    <td><%= books[i].summary.substring(0, 100) + ' ...' %></td>
    <td>
      <a
        class="btn btn-outline-primary"
        href="<%= `/editBook/${books[i]._id}` %>"
        role="button"
        >edit</a
      >
      <form action="<%= `/deleteId/${books[i]._id}` %>" method="GET">
        <button type="submit" class="btn btn-outline-danger">del</button>
      </form>
    </td>
  </tr>
  <% }%>
</table>
<% } %> <%- include('footer.html') -%>
