<%- include('header.html') -%>
<!-- When Doctors db is Empty -->
<% if(allDoctors.length === 0) { %>
<div class="row pt-5">
  <div class="col-4">
    <img class="error--img" src="/images/emptyError.jpg" alt="error-img" />
  </div>
  <div
    class="
      col-8
      error-msg
      text-center
      d-flex
      flex-column
      justify-content-center
    "
  >
    <h2 class="display-3 fw-bold py-5">OOPS!</h2>
    <p class="fs-4 fw-light text-secondary">Your book store is Empty!</p>
    <p class="fs-4 fw-light text-secondary">
      Please go to add some book first.
    </p>
    <div class="pt-5">
      <a class="btn btn-secondary" href="/addbook" role="button">Add Book</a>
    </div>
  </div>
</div>
<% } %>
<!-- When Books db have books -->
<% if(allDoctors.length > 0) { %>
<h2 class="py-4">All Doctors:</h2>
<table class="table table-bordered">
  <tr class="table-primary">
    <th>Id</th>
    <th>Full Name</th>
    <th>Date Of Birth</th>
    <th>Address</th>
    <th>Patients</th>
    <th>Action</th>
  </tr>
  <% for (let i = 0; i < allDoctors.length; i++){ %>
  <tr>
    <td><%= allDoctors[i]._id %></td>
    <td><%= allDoctors[i].fullName %></td>
    <td><%= allDoctors[i].dateOfBirth %></td>
    <td><%= allDoctors[i].address %></td>
    <td><%= allDoctors[i].numPatients %></td>
    <td class="d-flex justify-content-between align-items-center">
      <a
        class="btn btn-sm btn-outline-primary"
        href="<%= `/editBook/${allDoctors[i]._id}` %>"
        role="button"
        >edit</a
      >
      <a
        class="btn btn-sm btn-outline-danger"
        href="<%= `/deleteId/${allDoctors[i]._id}` %>"
        role="button"
        >del</a
      >
    </td>
  </tr>
  <% }%>
</table>
<% } %> <%- include('footer.html') -%>
