<%- include('header.html') -%>
<h2 class="py-4">Home Page</h2>
<div
  class="
    d-flex
    justify-content-between
    mx-auto
    p-5
    col-md-8
    bg-light
    rounded-3
    shadow
  "
>
  <div class="my-auto">
    <a href="/doctors/addDoctor" class="btn btn-primary" role="button"
      >Add new Doctor</a
    >
    <a href="/doctors" class="btn btn-outline-secondary" role="button"
      >List all Doctors</a
    >
  </div>
  <div>
    <img
      src="https://i.pinimg.com/originals/49/c4/f7/49c4f7a9c0ecb66b134c46c1987f7166.jpg"
      alt="doctor memes"
    />
  </div>
</div>

<%- include('footer.html') -%>
