<%- include('header.html') -%>
<div class="row pt-5">
  <div class="col-4">
    <img class="error--img" src="/images/invalidImg.jpeg" alt="error-img" />
  </div>
  <div
    class="
      col-8
      error-msg
      text-center
      d-flex
      flex-column
      justify-content-center
    "
  >
    <h2 class="display-3 fw-bold py-5">UUPS!</h2>
    <p class="fs-4 fw-light text-secondary">Your input is invalid!</p>
    <p class="fs-4 fw-light text-secondary"><%= errorMessage.message %></p>
    <p class="fs-4 fw-light text-secondary">Please try again.</p>
    <div class="pt-5">
      <a class="btn btn-secondary" href="<%= errorMessage.link %>" role="button"
        >Try Again</a
      >
    </div>
  </div>
</div>
<%- include('footer.html') -%>
