<div class="container-md py-4">
  <div class="jumbotron text-center py-4">
    <h1>Movies DB System</h1>
  </div>

  <!-- The navigation bar -->
  <nav class="navbar navbar-expand-sm bg-light mb-4 rounded">
    <ul class="navbar-nav">
      <li class="nav-item mx-2">
        <a class="btn btn-secondary" (click)="changeSection(1)">Home</a>
      </li>
      <li class="nav-item mx-2">
        <a class="btn btn-primary" (click)="changeSection(2)">Add Movie</a>
      </li>
      <li class="nav-item mx-2">
        <a class="btn btn-success" (click)="changeSection(3)">Update Movie</a>
      </li>
      <li class="nav-item mx-2">
        <a class="btn btn-danger" (click)="changeSection(4)">Delete Movie</a>
      </li>
      <li class="nav-item mx-2">
        <a class="btn btn-danger" (click)="changeSection(5)"
          >Delete Movie By Title</a
        >
      </li>
    </ul>
  </nav>

  <!-- First section: Display all in a table -->
  <div class="section" *ngIf="section == 1">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Produced Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of moviesDB">
          <td>{{ item.title }}</td>
          <td>{{ item.year }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Second Section: Add new movie -->
  <div class="section" *ngIf="section == 2">
    <div class="form-group py-2">
      <label for="movieTitle">Movie Title</label>
      <input
        type="text"
        class="form-control"
        id="movieTitle"
        [(ngModel)]="title"
      />
    </div>
    <div class="form-group py-2">
      <label for="movieYear">Produced Year</label>
      <input
        type="number"
        class="form-control"
        id="movieYear"
        [(ngModel)]="year"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-4" (click)="onSaveMovie()">
      Save Movie
    </button>
  </div>

  <!-- Section 3: Update movie -->
  <div class="section" *ngIf="section == 3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Select!</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of moviesDB">
          <td>{{ item.title }}</td>
          <td>{{ item.year }}</td>
          <td>
            <button
              type="submit"
              class="btn btn-sm btn-success"
              (click)="onSelectUpdate(item)"
            >
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <div *ngIf="moviesDB.length > 0">
      <div class="form-group py-2">
        <label for="movieTitle">Movie Title</label>
        <input
          type="text"
          class="form-control"
          id="movieTitle"
          [(ngModel)]="title"
        />
      </div>
      <div class="form-group py-2">
        <label for="movieYear">Produced Year</label>
        <input
          type="number"
          class="form-control"
          id="movieYear"
          [(ngModel)]="year"
        />
      </div>
      <button
        type="submit"
        class="btn btn-success mt-2"
        (click)="onUpdateMovie()"
      >
        Update Movie
      </button>
    </div>
  </div>

  <!-- Section 4: Delete Movie -->
  <div class="section" *ngIf="section == 4">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Movie Title</th>
          <th>Produced Year</th>
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of moviesDB">
          <td>{{ item.title }}</td>
          <td>{{ item.year }}</td>
          <td>
            <button
              type="submit"
              class="btn btn-sm btn-danger"
              (click)="onDeleteMovie(item)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Section 5: Delete movie By Title -->
  <div class="section" *ngIf="section == 5">
    <div class="form-group py-2">
      <label for="movieTitle">Movie Title</label>
      <input
        type="text"
        class="form-control"
        id="movieTitle"
        [(ngModel)]="title"
      />
    </div>
    <button
      type="submit"
      class="btn btn-danger mt-4"
      (click)="onDeleteMovieByTitle()"
    >
      Delete Movie
    </button>
  </div>
</div>
