<%- include('header.html') -%>
  <div class="row pt-5">
    <div class="col-4">
      <img class="error--img" src="errorImg.jpeg" alt="error-img">
    </div>
    <div class="col-8 error-msg text-center d-flex flex-column justify-content-center">
      <h2 class="display-3 fw-bold py-5">AWWW...DON'T CRY.</h2>
      <p class="fs-4 fw-light text-secondary">It's just a 404 Error!</p>
      <p class="fs-4 fw-light text-secondary">What you're looking for may have been misplaced in Long Term Memory.</p>
    </div>
  </div>
<%- include('footer.html') -%>